snippet && "Fortran .and." iA
.AND.
endsnippet

snippet || "Fortran .or." iA
.OR.
endsnippet

snippet != "Fortran neq" iA
/=
endsnippet

snippet "true" "Fortran true" iAr
.TRUE.
endsnippet

snippet "false" "Fortran false" iAr
.FALSE.
endsnippet

